@tailwind base;

@tailwind components;

input.form-input {
  @apply block w-full px-2 py-1 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-slipmat-300 focus:ring focus:ring-slipmat-300 focus:ring-opacity-50;
}

/* https://github.com/tailwindlabs/tailwindcss-typography/issues/26 */
.prose-m-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@tailwind utilities;
